.inputbox{
  padding: 10px;
  font-size: 14px;
  input{
    margin-right: 4px;
    padding: 4px 10px;
    border: 1px solid #ccc;
  }
  button{
    padding: 4px 10px;
    border: none;
    background-color: #06c;
    color: #fff;
    font-size: 14px;
  }
}

ul{
  li{
    padding: 10px 20px;
    padding-bottom: 0;
    cursor: pointer;
  }
}
